.nama {
    text-align: center
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: black;
    line-height: 1.6;
}

header {
    background-color: #4a90e2;
    color: white;
    text-align: center;

}

header h1 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.intro {
    font-style: italic;
}

.awal {
    background-color: red;
    color: white;
}

.tengah {
    background-color: blueviolet;
    color: white;
    font-family: Georgia, serif;
}

.akhir {
    background-color: #222;
    color: white;
    text-align: center;
    font-size: 0,9em;
}

section:hover{
    transform: scale(1.2); 
    color: #00eaff;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(0, 120, 248, 0.6);;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    font-size: 0,9em;
}