body {
    font-family: Arial, sans-serif;
    background-image: url(majelis.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 100vh;
    background-size: 96rem;
}

#title {
    position: absolute;
    color: rgb(0, 183, 255);
    text-shadow: #01ffff 20px;
    top: 150px;
}

#output{
    position: absolute;
    color: #ffffff;
    bottom: 100px;
    right: 20px;
}

label{
    color: rgb(81, 151, 243);
}

input{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
}


button {
    background: linear-gradient(to right, #ffffff, #01ffff);
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 6px;
    border: none;
    padding: 5px 60px;
    transition: 0.4s ease;
    position: absolute;
    bottom: 200px;
    left: 43rem;
}

button:hover {
    background-position: right center;
}

#myForm {
    background: rgba(0, 0, 0, 0.347);
    box-shadow: 0 10px 30px #000000;
    padding: 60px;
    padding-top: 170px ;
    width: 385px;  
    height: 300px;
    border-radius: 10px;
}

.qris{
    position:absolute;
    top: 17rem;
    right: 35rem;
    height: 160px;
    width: auto;
}

.fast {
    position: absolute;
    color: rgb(255, 255, 255);
    top: 14rem;
    right: 593px;
}