body {
    font-family: Arial, sans-serif;
    background: hsl(169, 100%, 74%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;   
    align-items: center;       
    height: 100vh;             
}

#title {
    position: absolute;
    top: 100px;
}

.data {
    position: absolute;
    bottom: 180px;
}

#output{
    position: absolute;
    bottom: 100px;
}

label{
    color: rgb(0, 0, 0);
}

input{
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
}


button {
    background: linear-gradient(to right, #ffffff, #569aff);
    background-size: 200% auto;
    color: rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 6px;
    border: none;
    padding: 5px 60px;
    transition: 0.4s ease;
}

button:hover {
    background-position: right center;
}

.button {
    text-align: center;
}

#myForm {
    background: rgb(103, 255, 182);
    padding: 25px;
    width: 350px;  
    border-radius: 10px;
}

.qris{
    position: absolute;
    top: 18rem;
    right: 37rem;
    height: 140px;
    width: auto;
}

.fast {
    position: absolute;
    top: 15rem;
    right: 618px;
}