.kontak {
  margin-top: 120px;
  padding: 60px 20px;
  max-width: 1200px; 
  margin-left: auto;
  margin-right: auto;
}

.kontak h2 {
  text-align: center;
  color: white;
  font-size: 32px;
}

.subtitle {
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.kontak-wrapper {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap; 
  max-width: 1000px;
  margin: 0 auto; 
}

.kontak-info {
  background: white;
  padding: 30px;
  border-radius: 16px;
  flex: 1 1 350px; 
  max-width: 400px;
}

.kontak-form {
  background: white;
  padding: 30px;
  border-radius: 16px;
  flex: 1 1 450px; 
  max-width: 550px;
  display: flex;
  flex-direction: column;
}

.kontak-form label {
  margin-top: 15px;
  font-weight: bold;
}

.kontak-form input,
.kontak-form textarea {
  margin-top: 5px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.kontak-form button {
  margin-top: 25px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #508d4e;
  color: white;
  cursor: pointer;
  font-size: 16px;
  align-self: center;
}

.kontak-form button:hover {
  background: #1a5319;
}

.error-msg {
    color: red;
    font-size: 13px;
    margin-top: 5px;
    display: block;
}

#info {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: 15px;
}


@media (min-width: 1024px) {
  .kontak-wrapper {
    flex-direction: row;
    justify-content: center;
  }
}


@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto; 
        padding: 10px 20px;
    }

    #logo {
        margin-bottom: 10px;
    }

    .navbar ul {
        flex-direction: column;
        gap: 10px;
        margin: 0;
        padding: 0;
    }

    .navbar li { margin: 5px 0; }
}

@media (max-width: 480px) {
    .navbar {
        padding: 8px 15px;
    }

    #logo {
        width: 140px;
    }

    .navbar a {
        font-size: 16px;
    }
}