body {
    font-family: Arial, sans-serif;
    background-image: url(majelis.jpg);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

h2 {
    position: absolute;
    color: rgb(0, 183, 255);
    text-align: center;
    width: 90%;
}


#output {
    position: absolute;
    color: #ffffff;
    bottom: 40px;
    right: 20px;
}

label {
    color: rgb(81, 151, 243);
}

input {
    background-color: #fff;
    border: none;
    border-radius: 6px;
    padding: 6px;
    width: 100%;
}

button {
    background: linear-gradient(to right, #ffffff, #01ffff);
    background-size: 200% auto;
    color: #000;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    padding: 10px 0;
    width: 100%;
    transition: 0.4s ease;
    margin-top: 20px;
    position: static;
}

button:hover {
    background-position: right center;
}

#myForm {
    background: rgba(0, 0, 0, 0.35);
    box-shadow: 0 10px 30px #000000;
    padding: 30px;
    padding-top: 120px;
    width: 90%;
    max-width: 385px;
    border-radius: 10px;
    text-align: left;
}

.qris {
    position: relative;
    display: block;
    margin: 20px auto 0 auto;
    height: 160px;
    width: auto;
}

.fast {
    position: relative;
    color: #fff;
    text-align: center;
    margin-top: 10px;
}


@media (max-width: 600px) {
    #title {
        font-size: 20px;
        top: 40px;
    }

    #myForm {
        padding-top: 80px;
    }

    .qris {
        height: 120px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    #title {
        font-size: 26px;
    }

    .qris {
        height: 140px;
    }
}

@media (min-width: 1200px) {
    #title {
        top: 90px;
        font-size: 23px;
    }

    .qris {
        height: 180px;
    }
}
