body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    height: 100vh;
    background-image: url('/asset/baackgrounnd2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

