body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
    display: flex;
    height: 100vh;
    background-image: url('/asset/backgroundmaalam.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.logo img {
    position: absolute;
    top:    -60px;
    left: -30px;
    max-width: 400px;
    height: auto;
}

.dd {
    color: rgb(248, 252, 255);
    position: absolute;
    left: 20px;
    top: 70px;
    font-size: 20px;
    
    
}

    .nav a {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    }

.nav {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    position: absolute;
    left: 45px;
    top: 250px;
    font-size: 30px;
}

.content {
    position: absolute;
    right: 40px;
    top: 610px;
    font-size: 20px;
}

.nav-links a {
    font-size: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease, color 0.2s ease;
}

.nav a:hover {
    transform: scale(1.2); 
    color: #00eaff;
    cursor: pointer;
    text-shadow: 0 0 5px rgba(0, 120, 248, 0.6);;
}
