html, body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: aliceblue;
}

.bg {
    z-index: 1;
}

.logo {
    position: absolute;
    max-width: 230px;
    height: auto;
    left: 4%;
    top: -7%;
    z-index: 3;
}

.nama {
    position: absolute;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

.nav-bar {
    position: absolute;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
    font-style: normal;
    left: 40%;
    top: 6%;
    z-index: 10;
    z-index: 10;
}

.kotak-belakang {
    position: fixed;
    width: 100%;
    height: 100px;
    color: black;
    background-color: rgb(43, 39, 39);
    opacity: 0.9;
    z-index: 1;
}


nav a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 20px;
}

