html, body {
    margin: 0%;
    padding: 0%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: aliceblue;
}

.dasar {
position: absolute;
top: 0%;
    z-index: 1;
    max-width: 250pxpx;
    height: auto;
}

/* INI BAGIAN WB DEV START */
.html {
    position: absolute;
    top: 30%;
    left: 21%;
    max-width: 80px;
    height: auto;
    z-index: 3;
}

.iconbiru {
    position:absolute;
    top: 30%;
    left: 27%;
    max-width: 80px;
    height: auto;
    z-index: 3;
}

.iconjs {
    position:absolute;
    top: 30%;
    left: 33%;
    max-width: 80px;
    height: auto;
    z-index: 3;
}

.iconpy {
    position:absolute;
    top: 44%;
    left: 27%;
    max-width: 80px;
    height: auto;
    z-index: 3;
}

.iconcpp {
    position:absolute;
    top: 44%;
    left: 33%;
    max-width: 80px;
    height: auto;
    z-index: 3;
}

.iconunity {
    position:absolute;
    top: 35%;
    left: 61%;
    max-width: 80px;
    height: auto;
    z-index: 3;
}

.webdev-title {
    position: absolute;
    color: aliceblue;
    font-size: xx-large;
    top: 20%;
    left: 21%;
    z-index: 3;
}

.webdev-title2 {
    position: absolute;
    color: aliceblue;
    font-size: xx-large;
    top: 20%;
    left: 61%;
    z-index: 3;
}

.webdev-title22 {
    position: absolute;
    color: aliceblue;
    font-size: xx-large;
    top: 25%;
    left: 65%;
    z-index: 3;
}

.web-background {
    position: absolute;
    background-color: rgb(69, 61, 61);
    top: 20%;
    left: 20%;
    width: 300px;
    height: 100%;
    z-index: 2;
}

.web-background2 {
    position: absolute;
    background-color: rgb(69, 61, 61);
    top: 20%;
    left: 60%;
    width: 300px;
    height: 100%;
    z-index: 2;
}














/* INI WEB DEV END */

.logo {
    position: fixed;
    max-width: 230px;
    height: auto;
    left: 4%;
    top: -7%;
    z-index: 10;
}

.nama {
    position: absolute;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
}

.nav-bar {
    position: fixed;
    font-size: 20px;
    font-family: "Arimo", sans-serif;
    font-style: normal;
    left: 40%;
    top: 6%;
    z-index: 10;
    z-index: 10;
}

.kotak-belakang {
    position: fixed;
    width: 100%;
    height: 100px;
    color: black;
    background-color: rgb(43, 39, 39);
    opacity: 0.9;
    z-index: 5;
}


nav a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-right: 20px;
}

